@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-light.eot");
    src: url("../fonts/roboto-light.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto-light.woff") format("woff"),
         url("../fonts/roboto-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.eot");
    src: url("../fonts/roboto-regular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto-regular.woff") format("woff"),
         url("../fonts/roboto-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto B";
    src: url("../fonts/roboto-bold.eot");
    src: url("../fonts/roboto-bold.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto-bold.woff") format("woff"),
         url("../fonts/roboto-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}